<center>
  <h3><%= "#{@user.username}'s Cinefile" %></h3>
  <br />
  <% if @list_count == 0 %>
    Your Cinefile is empty :(<br />
    Add films and the Cinefile team will keep you informed of upcoming screenings.
  <% else %>
    Total films: <%= @list_count %>
  <% end %>
  <%= form_tag("/search", method: "get", :class => "form") do %>
    <%= label_tag(:search, "Search for film:", :id => "label") %>
    <%= text_field_tag(:search, "", :id => "film") %>
    <%= submit_tag("Search", :class => "submit") %>
  <% end %>
  <br />
  <% if !@searched_film.nil? %>
    <%= form_for @film, :html => { :class => "form" } do |f| %>
      <% @search = Tmdb::Search.new %>
      <% @search.resource('movie') %>
      <% @search.query(@searched_film) %>
      <% @results = @search.fetch %>
      <% @select_list = @results.collect {|movie| [ movie['title'] + " " + movie['release_date'][0..3],
         movie['title'] + "," + movie['release_date'][0..3] + "," + movie['id'].to_s + "," + movie["backdrop_path"].to_s ] } %>
      <%= label_tag("Film to Add:") %>
      <%= select_tag "film_record", options_for_select(@select_list) %>
      <%= f.submit "Add film", :html => { :class => "submit"}  %>
    <% end %>
  <% end %>
  <br /><br />
</center>

<div class="container">
  <% @films_with_upcoming_screenings.each do |film| %>
    <div class="row">
      <div class="col-md-3", align="right">
        <br /><br /><br /><br /><br /><br /><br /><br />
        <%= image_tag("Upcoming_Screening.png", :class => 'upcoming') %>
      </div>
      <div class="col-md-6">
        <center>
          <h2 class="title"><%= film.title.upcase %> (<%= film.release_year %>)</h2>
          <br />
          <%= image_tag("http://cf2.imgobject.com/t/p/w500/" + film.poster_path, :class => 'img-rounded') %>
          <% @list_films.each do |list_film| %>
            <% if list_film.film_id == film.id %>
              <% @list_film = list_film %>
            <% end %>
          <% end %>
          <br /><br />
          <div class="remove">
            <%= link_to "", user_cinefile_list_film_path(@user, @cinefile, @list_film ), method: :delete, :class => 'glyphicon glyphicon-trash' %>
          </div>
          <br />

        </center>
      </div>
      <div class="col-md-3", style="text-align: left;">
        <br /><br /><br /><br /><br /><br /><br /><br />
          <% if film.days_until_nearest_screening == 0 %>
            <%= image_tag("today.png", :class => 'days_until_screening') %>
          <% elsif film.days_until_nearest_screening == 1 %>
            <%= image_tag("tomorrow.png", :class => 'days_until_screening') %>
          <% else %>
            <%= image_tag("#{film.days_until_nearest_screening}_days.png", :class => 'days_until_screening') %>
          <% end %>
          <br>
          <%= link_to "Show me where!", show_screenings_for_film_film_screenings_path(film), class: "btn btn-default" %>
      </div>
    </div>
    <br /><br /><br />
  <% end %>

  <% @other_films_in_cinefile.each do |film| %>
    <div class="row">
      <div class="col-md-3", align="right">
        <br /><br /><br /><br /><br /><br /><br /><br />
      </div>
      <div class="col-md-6">
        <center>
          <h2 class="title"><%= film.title.upcase %> (<%= film.release_year %>)</h2>
          <br />
          <%= image_tag("http://cf2.imgobject.com/t/p/w500/" + film.poster_path, :class => 'img-rounded') %>
          <% @list_films.each do |list_film| %>
            <% if list_film.film_id == film.id %>
              <% @list_film = list_film %>
            <% end %>
          <% end %>
          <br /><br />
          <div class="remove">
            <%= link_to "", user_cinefile_list_film_path(@user, @cinefile, @list_film ), method: :delete, :class => 'glyphicon glyphicon-trash' %>
          </div>
        </center>
      </div>
      <div class="col-md-3", style="text-align: left;">
        <br /><br /><br /><br /><br /><br /><br /><br />
      </div>
    </div>
    <br /><br /><br /><br />
  <% end %>
</div>
