<%= "Welcome to #{@user.username}'s Cinefile" %>

<%= form_tag new_film_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search for film", :name => nil %>
  </p>
<% end %>
<br>

<% @titles.each do |title| %>
  <%= title %>
<% end %>
