<center>
  <h3><%= "#{@user.username}'s Cinefile" %></h3>
  <br />
  <% if @list_count == 0 %>
    Your Cinefile is empty :(
  <% else %>
    Total films: <%= @list_count %>
  <% end %>

  <%= form_tag new_film_path, :method => 'get' do %>
    <p>
      <%= text_field_tag :search, params[:search], :placeholder => "Enter film title..." %>
      <%= submit_tag "Search for film", :name => nil %>
    </p>
  <% end %>
  <br /><br />

  <!-- <div class='films_with_upcoming_screenings'> -->
  <% @films_with_upcoming_screenings.each do |film| %>
    <h4 class="title_with_screening"><%= film.title %> (<%= film.release_year %>)</h4>
    <!-- <br /> -->
    <%= image_tag("http://cf2.imgobject.com/t/p/w500/" + film.poster_path, :class => 'img-rounded img-responsive') %>
    <% @list_films.each do |list_film| %>
      <% if list_film.film_id == film.id %>
        <% @list_film = list_film %>
      <% end %>
    <% end %>
    <%= button_to "Remove", user_cinefile_list_film_path(@user, @cinefile, @list_film, :class => "btn btn-default" ), method: :delete %>
    <%= link_to "Screenings", show_screenings_for_film_film_screenings_path(film) %>
    <br>
  <% end %>

  <% @other_films_in_cinefile.each do |film| %>
    <h4 class="title"><%= film.title %> (<%= film.release_year %>)</h4>
    <br />
    <%= image_tag("http://cf2.imgobject.com/t/p/w500/" + film.poster_path, :class => 'img-rounded img-responsive') %>
    <% @list_films.each do |list_film| %>
      <% if list_film.film_id == film.id %>
        <% @list_film = list_film %>
      <% end %>
    <% end %>
    <%= button_to "Remove", user_cinefile_list_film_path(@user, @cinefile, @list_film, :class => 'remove-btn' ), method: :delete %>
    <br /><br /><br />
  <% end %>
</center>
