<%= "Welcome to #{@user.username}'s Cinefile" %>

<%= form_tag new_film_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search for film", :name => nil %>
  </p>
<% end %>
<br>

<% @info.each do |info| %>
  <%= info %>
  <br />
<% end %>
<% @poster_paths.each do |poster| %>
  <%= image_tag("http://cf2.imgobject.com/t/p/w500/" + poster) %>
<% end %>
