<center>
  <h3><%= "#{@user.username}'s Cinefile" %></h3>
  <br />
  <% if @films_in_cinefile.count == 0 %>
    Your Cinefile is empty :(
  <% else %>
    Total films: <%= @films_in_cinefile.count %>
  <% end %>
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:search, "Search for film") %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search for film") %>
  <% end %>
  <br />
  <% if !@searched_film.nil? %>
    <%= form_for @film do |f| %>
      <% @search = Tmdb::Search.new %>
      <% @search.resource('movie') %>
      <% @search.query(@searched_film) %>
      <% @results = @search.fetch %>
      <% @select_list = @results.collect {|movie| [ movie['title'] + " " + movie['release_date'][0..3],
         movie['title'] + "," + movie['release_date'][0..3] + "," + movie['id'].to_s + "," + movie["backdrop_path"].to_s ] } %>
      <%= select_tag "film_record", options_for_select(@select_list) %>
      <%= f.submit "Add film" %>
    <% end %>
  <% end %>
  <br /><br /><br />

  <% @films_in_cinefile.each do |film| %>
    <h4 class="title"><%= film.title %> (<%= film.release_year %>)</h4>
    <br />
    <%= image_tag("http://cf2.imgobject.com/t/p/w500/" + film.poster_path, :class => 'img-rounded') %>
    <% @list_films.each do |list_film| %>
      <% if list_film.film_id == film.id %>
        <% @list_film = list_film %>
      <% end %>
    <% end %>
    <% if film.upcoming_screening? %>
      <br />
      <%= "#{film.title} has an upcoming screening" %>
      <% @cinemas.each do |cinema| %>
        <% screenings = cinema.screenings.all %>
        <% screenings.each do |screening| %>
          <% if screening.film_id == film.id %>
            <%= button_to "Screening Info", cinema_screening_path(cinema, screening), method: :get %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <%= button_to "Remove", user_cinefile_list_film_path(@user, @cinefile, @list_film ), method: :delete %>
    <br /><br /><br /><br />
  <% end %>
</center>
