<div class="row" style="text-align: center;">
  <h1><%= "Upcoming Screenings" %></h1>
  <% if @cinefile.list_films.empty? %>
    There are no films in your Cinefile.<br />
    Please add films so we can keep you updated with any screening info :)
  <% elsif @films_with_upcoming_screenings.empty? %>
    Sadly there are no upcoming screenings for the films in your Cinefile.
  <% end %>
</div>
<div class="row">
  <% @films_with_upcoming_screenings.each do |film| %>
    <div class="col-md-2"></div>
    <div class="col-md-4 image-screening" style="text-align: center;"><br />
      <h1 class="title-screening"><%= film.title.upcase %> (<%= film.release_year %>)</h1><br />
      <%= image_tag("http://cf2.imgobject.com/t/p/w500/" +film.poster_path, :class => 'img-rounded img-screenings') %>
    </div>
    <div class="col-md-6">
      <% @cinemas.each do |cinema| %>
        <% cinema_name_used = false %>
        <% screenings_sorted_by_date = film.screenings.sort_by { |screening| screening.screen_date } %>
          <% screenings_sorted_by_date.each do |screening| %>
            <% if cinema.id == screening.cinema_id %>
              <% if cinema_name_used == false %>
                <div class= "bottom-margin"><h2><%="#{cinema.name}"%></h2></div>
                <% cinema_name_used = true %>
                <h4 class="website">Website: <%= link_to "#{cinema.name} Showtimes", cinema.website %><br/></h4>
                <%= "#{cinema.address.split(",")[0]}" %><br />
                <%= "#{cinema.address.split(",")[1]}" %><br />
                <%= "#{cinema.postcode}" %><br />
                <%= "#{cinema.phone}" %><br />
              <% end %>
              <div class= "bottom-margin"><h3><%= screening.screen_time.strftime('%H:%M') %></h3></div>
              <div class= "screen-dates"><h4><%= screening.screen_date.strftime('%A %e %B %Y') %></h4></div>
            <% end %>
          <% end %>
      <% end %>
      <br /><br /><br /><br /><br /><br />
    </div>
  <% end %>
</div>
