<%= form_for [@user, @cinefile, @list_film] do |f| %>
<% @search = Tmdb::Search.new %>
<% @search.resource('movie') %>
<% @search.query(params[:search]) %>
<% results = @search.fetch %>
<%= f.select :title, options_from_collection_for_select(@search.fetch[0..results.length], "title", "release_date"),
:prompt => "Select field" %>
<% @search.fetch[0..results.length].each do |film| %>
<option>
 <%= film['title'] %>
(<%= film['release_date'][0..3] %>)
</option>
<br>
<% end %>
<%= f.submit "Add film" %>
<% end %>
