<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <h1>Upcoming Screenings</h1>
    <% if @cinefile %>
      <% if @films_with_upcoming_screenings.count > 0 %>
        <%= @user.username %>, check out the following screening information for your Cinefile films.
      <% else %>
        There are no upcoming screenings for the films in your Cinefile.
      <% end %><br />

      <% @films_with_upcoming_screenings.each do |film| %>
        <br>
        <br>
        <h1 class="title"><%= film.title %></h1>
        <br>
        <% @cinemas.each do |cinema| %>
        <% cinema_name_used = false %>
          <% film.screenings.each do |screening| %>
            <% if cinema.id == screening.cinema_id %>
              <% if cinema_name_used == false %>
                <h2><%="#{cinema.name}"%></h2>
                <% cinema_name_used = true %>
                <%= "#{cinema.address.split(",")[0]}" %><br />
                <%= "#{cinema.address.split(",")[1]}" %><br />
                <%= "#{cinema.postcode}" %><br />
                <%= "#{cinema.phone}" %><br />
                Website: <%= link_to "#{cinema.name} Showtimes", cinema.website %><br>
              <% end %>
              <h3><%= screening.screen_time.strftime('%H:%M') %></h3>
              <h4><%= screening.screen_date.strftime('%A %e %B %Y') %></h4>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    <% else %>
      You have not added any films to your Cinefile.<br />
      Please add films first so we can keep you updated of any screenings :)
    <% end %>
  </div>
  <div class="col-md-4"></div>
</div>
