  <!-- <%= form_for [@user, @cinefile, @film] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Add to Cinefile" %>
<% end %> -->

<select>
<% @search = Tmdb::Search.new %>
<% @search.resource('movie') %>
<% @search.query(params[:search]) %>
<% results = @search.fetch %>
<% @search.fetch[0..results.length].each do |film| %>
<option>
 <%= film['title'] %>
(<%= film['release_date'][0..3] %>)
</option>
 <br>
<% end %>
</select>

<%= button_to "Add film" %>
