<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="/" class="pull-left"><%= image_tag("Blue_Logo2.png", :class => "logo") %></a>
      <!-- <a class="navbar-brand" href="/"><%= image_tag("Blue_Logo.png", :class => "logo") %></a> -->
    </div>
      <ul class='nav navbar-nav navbar-right'>
        <% if user_signed_in? %>
        <li><%= link_to "NOW SHOWING", now_showing_path
       %></li>
        <li><%= link_to "CINEFILE", user_cinefile_index_path(current_user), method: :post %></li>
          <li><%= link_to "LOG OUT", destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li><%= link_to "LOG IN", new_user_session_path %></li>
          <li><%= link_to "SIGN UP", new_user_registration_path %></li>
        <% end %>
      </ul>
  </div>
</nav>
